<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VotingSimulator.My.MySettings.VotingSimulatorConnectionString"
            connectionString="Data Source=SQLSERVER-2012\HOMEVMSQL,49185;Initial Catalog=VotingSimulator;User ID=VSProgram;Password=Test12345!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>